// Basic container.
.container {
  width: 90%;
  margin: auto;
}

[class='4:3'] {
  display: block;
  width: 0;
  padding-bottom: ( 3 / 4 ) * 100%;
}

[class='16:9'] {
  display: block;
  width: 0;
  padding-bottom: ( 9 / 16 ) * 100%;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}