/* =============================
        Youtube video embed
   =============================*/

.Youtube {
  background: @primary-black;
  position: relative;

  z-index: -100;
  &:after {
    content: '';

    &:extend([class='16:9']);
  }
}